export(svy_vglm)
import(methods,VGAM)
importFrom("survey", "svytotal","SE")
importFrom("stats", "pnorm", "printCoefmat")

S3method(print,svy_vglm)
S3method(coef,svy_vglm)
S3method(vcov, svy_vglm)

S3method(summary, svy_vglm)
S3method(print, summary.svy_vglm)

S3method(svy_vglm, survey.design)
S3method(svy_vglm, svyrep.design)

